  <!DOCtype html>
  <html>
  <head>

    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <script src="js/angular.min.js"></script>
    <title>Tienda</title>
    <link rel="icon" href="img/shopping.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body ng-app="myApp">

    <div class="container">
      <h1>Tienda</h1>
      <ul class="nav nav-tabs">

        <li><a href="#Drinks" data-toggle="tab">Drinks</a></li>
        <li><a href="#Lunch" data-toggle="tab">Lunch</a></li>
        <li><a href="#Food" data-toggle="tab">Food</a></li>
        <li><a href="#Sea" data-toggle="tab">Sea</a></li>

        <li><form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form></li>
        <li>

          <button href="#Car" class="btn btn-info btn-lg" data-toggle="tab" data-placement="bottom" title="You don't have any products yet."><span class="glyphicon glyphicon-shopping-cart"></span> <span class="items">0</span></button>
        </li>
      </ul>

      


      <div class="row">
        <div class="col-sm-2 col-md-2">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                  </span> Productos</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                         <i class="fa fa-star" aria-hidden="true"></i><a href="http://www.jquery2dotnet.com"> Mas vendidos</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i><a href="http://www.jquery2dotnet.com"> Disponibles</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                       <i class="fa fa-sticky-note" aria-hidden="true"></i></span><a href="http://www.jquery2dotnet.com"> Agotados</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-usd" aria-hidden="true"></i>
                  </span> Precio</a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-10 col-md-10">
          <div class="well">
            <div class="tab-content ">
              <div id="home" class="tab-pane fade in active" ng-controller="cargarProductos">
                <div class="row">
                  <div class="col-xs-10 col-sm-6 col-md-4" ng-repeat="data in productos.products | filter : search">
                    <div class="col-item">
                      <div class="post-img-content">
                        <img src="http://placehold.it/350x260" class="img-responsive" />
                        <span class="post-title">
                          <b>{{data.name}}</b><br>
                          <b>{{data.available}}</b>
                        </span>
                        <span class="round-tag">{{data.best_seller}}</span>
                      </div>
                      <div class="info">
                        <div class="row">
                          <div class="price col-md-8">
                            <h5>{{data.description}} </h5>
                            
                          </div>
                          <div class="rating hidden-sm col-md-4">
                            <h5 class="price-text-color">{{data.price}}</h5>
                          </div>
                        </div>
                        <div class="separator clear-left">
                          <p class="btn-add">
                            <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to cart</a></p>
                            
                            </div>
                            <div class="clearfix">
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>


                  <div class="tab-pane fade" id="Drinks">Drink</div>
                  <div class="tab-pane fade" id="Lunch">Lunch</div>
                  <div class="tab-pane fade" id="Food">Food</div>
                  <div class="tab-pane fade" id="Sea">Sea</div>

                  <div class="tab-pane" id="Car">
                    <div class="row">
                      <div class="col-xs-9">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                            <div class="panel-title">
                              <div class="row">
                                <div class="col-xs-6">
                                  <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                                </div>
                                <div class="col-xs-6">
                                  <button href="#home" type="button" class="btn btn-primary btn-sm btn-block" data-toggle="tab">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
                              </div>
                              <div class="col-xs-4">
                                <h4 class="product-name"><strong>Product name</strong></h4><h4><small>Product description</small></h4>
                              </div>
                              <div class="col-xs-6">
                                <div class="col-xs-6 text-right">
                                  <h6><strong>25.00 <span class="text-muted">x</span></strong></h6>
                                </div>
                                <div class="col-xs-4">
                                  <input type="text" class="form-control input-sm" value="1">
                                </div>
                                <div class="col-xs-2">
                                  <button type="button" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <hr>
                          </div>
                          <div class="panel-footer">
                            <div class="row text-center">
                              <div class="col-xs-8">
                                <h4 class="text-right">Total <strong>$50.00</strong></h4>
                              </div>
                              <div class="col-xs-3">
                                <button type="button" class="btn btn-success btn-block">
                                  Checkout
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div> 

              </div>

            </div>
          </div>



        </div> 

        <body>
        <script src="js/index.js"></script>
        <script src="js/controllers.js"></script>
          </html>