  <!DOCTYPE html>
  <html ng-app="myShop">
  <head>

    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.4/angular.js" data-semver="1.2.4"></script>
    
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    
    <script src="js/ui-bootstrap-tpls.js"></script>

    <link rel="stylesheet" type="text/css" href="css/rzslider.css">
    <script type="text/javascript" src="js/rzslider.js"></script>
    

    
    <title>Tienda</title>
    <link rel="icon" href="img/shopping.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body ng-controller="cargarProductos"> 

    <div class="container" >
      <h1 id="TituloTienda">Tienda</h1>

      <button href="#Car" id="botonCarro" ng-click="showItems()" class="btn btn-info btn-lg" data-toggle="tab" data-placement="bottom" title="You don't have any products yet."><span class="glyphicon glyphicon-shopping-cart"></span><span class="items" >{{elementoCarrito}}</span></button>
      <br>
      <br>
      
      <br>
      <br>
      <ul class="nav nav-tabs">

        <li><a href="" ng-click="cate={'categories': 1}" data-toggle="tab">Drinks</a></li>
        <li><a href="" ng-click="cate={'categories': 2}" data-toggle="tab">Lunch</a></li>
        <li><a href="" ng-click="cate={'categories': 3}" data-toggle="tab">Food</a></li>
        <li><a href="" ng-click="cate={'categories': 4}" data-toggle="tab">Sea</a></li>

        <li><form class="navbar-form" role="search">
          <div class="input-group">
           <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
           <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form></li>

      <li>

      </li>


    </ul>




    <div class="row">
      <div class="col-sm-2 col-md-2">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                </span> Productos</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>
                     <i class="fa fa-star" aria-hidden="true"></i><a href="" ng-click="myFilter = {best_seller: true}"> Mas vendidos</a>
                   </td>
                 </tr>
                 <tr>
                  <td>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><a href="" ng-click="myFilter = {available: true}"> Disponibles</a>
                  </td>
                </tr>
                <tr>
                  <td>
                   <i class="fa fa-sticky-note" aria-hidden="true"></i></span><a href="" ng-click="myFilter = {available: false}"> Agotados</span>
                 </td>
               </tr>
             </table>
           </div>
         </div>
         <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
            </span> Precios</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
           <table class="table">
             <tr>
              <td>
               <div  class="wrapper">
                 <div class="slider">
                  Precio minimo <input type="number" min="1000" max="200000"  ng-model= "priceSlider.min" > <br>
                  Precio maximo <input type="number" min="1000" max="200000"  ng-model= "priceSlider.max">
                 <rzslider
      rz-slider-floor="priceSlider.floor"
      rz-slider-ceil="priceSlider.ceil"
      rz-slider-model="priceSlider.min"
      rz-slider-high="priceSlider.max"
      rz-slider-step="{{priceSlider.step}}"></rzslider>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="col-sm-10 col-md-10">
  <div class="well">
    <div class="tab-content ">
      <div id="home" class="tab-pane fade in active" >
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="datos in productos.products | filter:search:strict | filter:myFilter | filter:cate | filter:minFilter | filter:maxFilter">
          <span class="idItem" style="display:none">{{datos.id}}</span>
            <div class="col-item">
              <div class="post-img-content">
                <img src={{datos.img}} class="img-responsive" />

                <span class="post-title">
                  <b>{{datos.name}}</b><br>

                  <div ng-if="datos.available">
                    <b>Disponible</b>
                  </div>
                  <div ng-if="!datos.available">
                    <b>Agotado</b>
                  </div>
                </span>
                <div ng-if="datos.best_seller">
                  <span class="round-tag">top</span>
                </div>

              </div>
              <div class="info">
                <div class="row">
                  <div class="price col-md-8">
                    <h5>{{datos.description}} </h5>

                  </div>
                  <div class="rating hidden-sm col-md-4">
                    <h5 class="price-text-color">{{datos.price}}</h5>
                  </div>
                </div>
                <div class="separator clear-left">
                  <div ng-if="datos.available">
                  <p class="btn-add">
                    <i class="fa fa-shopping-cart"></i><a href="" class="hidden-sm" class="idItem" value={{datos.id}} ng-click="addItem($event)">Add to cart</a></p>
                    </div>
                    <p class="btn-add">
                    <br>
                    </p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>



        <div class="tab-pane" id="Car">
          <div class="row">
            <div class="col-xs-9">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="panel-title">
                    <div class="row">
                      <div class="col-xs-6">
                        <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                      </div>
                      <div class="col-xs-6">
                        <button href="#home" type="button" class="btn btn-primary btn-sm btn-block" data-toggle="tab">
                          <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row" ng-repeat="data in carro">
                    <div class="col-xs-2"><img class="img-responsive" src={{data.img}}>
                    </div>
                    <div class="col-xs-4">
                      <h4 class="product-name" ng-model="car.nombre"><strong>{{data.name}}</strong></h4>
                      <h4 ng-model="car.descripcion"><small>{{data.description}} </small></h4>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6 text-right">
                        <h6 ng-model="car.price"><strong>{{data.price}} <span class="text-muted">x</span></strong></h6>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control input-sm" value="1">
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-link btn-xs" value={{datos.id}} ng-click="removeItem($event)">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="panel-footer">
                  <div class="row text-center">
                    <div class="col-xs-8">
                      <h4 class="text-right">Total <strong>${{total}}</strong></h4>
                    </div>
                    <div class="col-xs-3">
                      <button type="button" class="btn btn-success btn-block">
                        Comprar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div> 

    </div>

  </div>
</div>



</div> 

</body>

 <script type="text/javascript" src="js/app.js"></script>
 
  </html>