<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/style.css" />
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.4/angular.js" data-semver="1.2.4"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="MainCtrl"  >
  Precio minimo <input type="number" min="1000" max="200000" ng-model= "priceSlider.min"> <br>
  Precio maximo <input type="number" min="1000" max="200000" ng-model= "priceSlider.max">
    <div class="slider">
    
    <rzslider
    	rz-slider-floor="priceSlider.floor"
    	rz-slider-ceil="priceSlider.ceil"
    	rz-slider-model="priceSlider.min"
    	rz-slider-high="priceSlider.max"
    	rz-slider-step="{{priceSlider.step}}"></rzslider>
    
    <pre>{{ priceSlider2 }}</pre>
    	
    </div>
  </body>

</html>
